body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.calc-panel {
  border-top: 1px solid #ccc;
}

.calc-panel__row .calc-button:nth-child(-n+3) {
  background-color: #ebebeb;
}

.calc-panel__row .calc-button:nth-child(3n) {
  border-right: 1px solid #ccc;
}

.calc-panel__row .calc-button:not(:nth-child(-n+3)) {
  background-color: #fff;
}

.calc-panel__row .calc-button:last-child {
  background-color: #fc0;
}
